*{
    background-color: black;
    box-sizing: border-box;
}

.about{
    background-color: #222;
    margin: 100px;
    padding: 50px;
    text-align: center;
}

.heading{
    padding: 30px;
    font-size: 2em;
    color: white;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    opacity: 0;
    animation: fadeIn 7s ease-in-out infinite;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.summary{
    color: #fff;
    margin: 20px;
    font-family: sans-serif;
    font-size: 1.2em; /* Slightly larger font size */
    line-height: 1.5; /* Improve line height for better readability */
    margin-top: 20px; /* Adjust top margin */
}



